
.theme-red .user-info {
    background: #ad0d0d; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #ad0d0d 0%, #f72f2f 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #ad0d0d 0%,#f72f2f 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #ad0d0d 0%,#f72f2f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ad0d0d', endColorstr='#f72f2f',GradientType=1 );
}

.theme-green .user-info{
    background: #208424; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #208424 0%, #19b320 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #208424 0%,#19b320 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #208424 0%,#19b320 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#208424', endColorstr='#19b320',GradientType=1 );
}
.theme-green .navbar {
    background-color: #fff !important;
}

.theme-green .navbar-brand {
    color: #208424 !important;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 200 !important;
}

.busy-hour {
    background: #f44336;
    color: #fff;
}

.bootstrap-select.btn-group:not(.input-group-btn), .bootstrap-select.btn-group[class*="col-"] {
    padding-top: 5px;
}

.bg-red-dark{
    background-color: #922b2b !important;
}
.bg-grey-light{
    background-color: #e4e4e4 !important;
}

.radius-four {
    border-radius: 4px;
}

.bootstrap-select > .dropdown-toggle {
    padding-right: 12px;
}

.transparent-control {
    background-color: rgba(255, 255, 255, 0) !important;
}



.btn-no-shadow {
    box-shadow: none !important;
    transition: all 0.2s;
}

.btn-no-shadow:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12) !important;
}

.btn-danger {
    background-color: #f44336 !important;
}

.btn-danger:hover {
    background-color: #ff675b !important;
}

.add-event-header {
    z-index: 5;
}

.header-toogle-hide {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    transition: all 0.3s;
    margin-top: 0px;
    z-index: 4;
    opacity: 0;
}

.header-toogle-show {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    opacity: 100;
}

.event-relative {
    position: relative;
}

.event-bottom {
    position: absolute;
    bottom: 0;
    right: 7px;
}

.event-bottom .material-icons:hover {
    opacity: 1;
    transition: all 0.3s;
}

.event-bottom .material-icons {
    font-size: 21px !important;
    opacity: 0.2;
    transition: all 0.3s;
}

/*
@media (min-width: 768px) {}
.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
    margin-right: auto;
    margin-left: auto;
    display: grid;
    text-align: center;
}
.container-fluid {
    display: grid;
}
}
*/

.bg-grey_dark {
    background-color: #525252 !important;
    color: #fff !important;
}

.bg-grey_dark:hover {
    background-color: #444444 !important;
}

.alert-custom-light {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    color: #f44336 !important;
    background: white !important;
    font-weight: 600;
    z-index: 2000 !important;

}

.alert-span-icon {
    font-size: 27px;
    margin-right: 18px;
    margin-top: -5px;
    margin-bottom: 3px !important;
    top: 5px;
    position: relative;
}

.horario-tabla tbody td {
    vertical-align: middle;    
    padding: 8px;
    border: none;
}

.horario-tabla tbody tr td:not(#hora) {
    border: 1px solid #e4e4e4;
}

.horario-tabla #hora {
    padding-top: 0px;
    padding-bottom: 16px;
    text-align: right;
    color: #6d6c6c;
    border: none;
    font-size: 14px;

}

.horario-tabla thead tr th {
    padding-top: 4px;
    padding-bottom: 4px;
    color: #6d6c6c;
    border: none;
    font-size: 14px;
    border-right: 1px solid #e4e4e4;
}

.horario-tabla {
    table-layout: fixed;
    word-wrap: break-word;
    min-width: 700px;
}

.horario-tabla thead tr th:first-child {
    text-align: right;
}

.hor-whiteborder { 
    border: 2px solid #fff !important;
    //border-radius: 6px;
} 

.event-private {
    background-color: #F44336 !important;
    color: #fff !important;
}

.event-private-disabled {
    background-color: #6d7073 !important;
    color: #fff !important;
}

.event-public {
    background-color: #F44336 !important;
    color: #fff !important;
}

.event-suggest {
    background-color: #f79430 !important;
    color: #fff !important;
}

.past {
    opacity: .5;
}

/* Mostrar scrollbar todo el tiempo */
body {
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgb(82, 82, 82);
    background: #8e8e8e;
}

.right-sidebar-wide {
    width: 400px;
    right: -400px;
}

.card-section-waves .waves-effect {
    display: block;
}
.card-section-waves .card {
    margin-bottom: 15px;
}


.modal {
    text-align: center;
    padding: 0!important;
}

.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px; /* Adjusts for spacing */
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    margin-top: -5%;
}

.modal-open {
    overflow: inherit;
}

/*.event-detail */
.detail-item {
    padding: 10px 4px 10px 4px;
    overflow: hidden;
    font-size: 15px;
    border: 0px;

}

.detail-header {
    padding: 25px !important;
}
.detail-icon {
    padding-right: 10px;
    display: inline-block;
    vertical-align: middle;
}

.btn-transparent, .btn-transparent:active, .btn-transparent:focus  {
    background-color: transparent !important;
    box-shadow: none !important;
}

.btn-transparent:hover {
    background-color: rgba(255, 255, 255, 0.2) !important;
    box-shadow: none !important;
}

.card-list-custom {
    overflow-y: hidden;
}

.btn-short {
    margin-top: -6px;
    margin-bottom: -6px;
}

.fade-scale {
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
    opacity: 0;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}

.fade-scale.in {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}

.modal.fade-scale .modal-dialog {
    -webkit-transition: -webkit-transform .2s ease-out;
    -o-transition:      -o-transform .2s ease-out;
    transition:         transform .2s ease-out;
    -webkit-transform: translate(0, 0) !important;
    -ms-transform: translate(0, 0) !important;
    -o-transform: translate(0, 0) !important;
    transform: translate(0, 0) !important;
}

.event-star {
    position: absolute;
    bottom: 0;
    right: 7px;
}

.event-star .material-icons:hover {
    opacity: 1;
    transition: all 0.3s;
}

.event-star .material-icons {
    font-size: 21px !important;
    opacity: 0.7;
    transition: all 0.3s;
}

.timepickercenter {
    min-width: 180px;
    padding-top: 8px;
    padding-bottom: 7px;
    font-size: 16px !important;
}

.org-detail-item {
    padding: 20px 20px 20px 20px;
    overflow: hidden;
    margin-bottom: 7px;
    font-size: 15px;
    border: none;
    border-right: none;

    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.org-detail-item:hover {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    z-index: 1000;
}

.od-success {
    border-left: solid 3px #4CAF50;
}

.od-warning {
    border-left: solid 3px #FF9800;
}

.od-danger {
    border-left: solid 3px #F44336;
}



@media only screen and (min-width: 980px) {


    .antiscroll-inner {
        width: 90%;
        height: 100%;
        padding-right: 30px;
        box-sizing: content-box;
        -moz-box-sizing: content-box;
        overflow-x: hidden;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }

    .antiscroll-inner::-webkit-scrollbar {
        width: 8px;
    }

    .antiscroll-inner::-webkit-scrollbar-track {
        border-radius: 3px;
    }

    .antiscroll-inner::-webkit-scrollbar-thumb {
        border-radius: 3px;
    }

    .antiscroll-wrap {
        width: 100%;
        position: absolute;
        height: 100% !important;
    }

    .org-main-wrapper {
        height: calc(100vh - 100px)!important;
    }

    .org-sub-wrapper {
        height: calc(100% + 11px);
        display: flex;
        flex-direction: column;
    }

    .org-detail-lonely {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        margin: 0;
        display: table;
        text-align: center;
        z-index: 0;
    }

    .detail-right {
        -webkit-animation-duration: 0.4s !important;
        transition-duration: 0.4s !important;
    }

    .org-detail-lonely-child {
        display: table-cell;
        vertical-align: middle;
    }
}

.persona-asis {
    border-bottom: solid 1px #d8d8d8;
    margin-bottom: 0px;
}

.form-green-dark {
    background: #4caf50;
    color: white !important;
}

.form-green-dark::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #c9f1cb;
}

.form-orange-dark {
    background: #ff9801;
    color: white !important;
}

.form-orange-dark::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #f1e3c9;
}

.form-red-dark {
    background: #f44437;
    color: white !important;
}

.form-red-dark::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #ffc9c5;
}

.form-line-green:after {
    border-bottom: 2px solid #9df5a1 !important;
}

.form-line-green-light:after {
    border-bottom: 2px solid #70b572 !important;
}

.form-line-orange:after {
    border-bottom: 2px solid #d68105 !important;
}

.form-line-red:after {
    border-bottom: 2px solid #ffffff !important;
}

.form-group-sleek {
    margin-bottom: 5px;
}

/* picker date */

.dtp div.dtp-date,
.dtp div.dtp-time {
    background: linear-gradient(135deg, #018429 0%,#08b33d 100%); }

.dtp > .dtp-content > .dtp-date-view > header.dtp-header {
    background: #42a745; }

.dtp .dtp-buttons .dtp-btn-ok {
    margin-left: 10px; }

.dtp .dtp-buttons .dtp-btn-clear {
    margin-right: 10px !important; }

.dtp .p10 > a {
    color: #fff; }

.dtp div.dtp-actual-year {
    font-size: 1.5em;
    color: #ffffff; }

.dtp table.dtp-picker-days tr td a.selected {
    background: #3cbd2d;
    color: #fff; }

@-webkit-keyframes zoomIn {
    from {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    50% {
        opacity: 1;
    }
}

@keyframes zoomIn {
    from {
        opacity: 0;
        -webkit-transform: scale3d(.7, .7, .7);
        transform: scale3d(.7, .7, .7);
    }

    50% {
        opacity: 1;
    }
}

.zoomIn {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
}



/* SYSLAW */
.bg-syslaw-login {
    background-color: #1981ad !important;
    background: radial-gradient(#0a6b94 15%, transparent 16%) 0 0, 
        radial-gradient(#0473a2 15%, transparent 16%) 8px 8px, 
        radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px, 
        radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color:#282828;
    background-size:16px 16px;
}
.subtitle {
    color: #fff;
    font-size: 25px;
    -webkit-font-smoothing: antialiased;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    margin-top: 30px;
    margin-bottom: -9px;
    font-weight: 300 !important;
}

.signup-page .signup-box a {
    color: #2196f3;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.theme-blue .user-info{
    background-color: #1981ad !important;
    background: radial-gradient(#0a6b94 15%, transparent 16%) 0 0, radial-gradient(#0473a2 15%, transparent 16%) 8px 8px, radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px, radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;

    background-size: 16px 16px;
}

@media only screen and (min-width: 1170px) { 

    .sidebar {
        top: 0px;
        height: calc(100vh) !important;
    }

    .content {
        margin-top: 25px !important;
        height: auto;
    }

    .navbar {
        display: none !important;
    }


}

.info-container {
    top: 17px !important;
}

.sidebar .user-info {
    height: 147px;
}

.bg-syslaw {
    background-color: #29abe2 !important;
    color: #fff !important;
}

.dataTables_wrapper {
    width: 98% !important;
}

.wizard .steps .current a {
    background-color: #29abe2 !important;
}

@media(max-width: 630px) {
    .wizard>.steps>ul>li {
        width:100% !important
    }

    .wizard > .steps a {
        padding: 0.5em 0.5em;
    }


    .wizard > .steps .disabled a {
        display: none !important;
    }
}

@media(max-width: 1119px) and (min-width: 630px) {
    .wizard>.steps>ul>li {
        width:33% !important
    }

    .wizard > .steps a {
        padding: 1em 1em;
    }
}



.wizard > .steps a {
    background: #eee;
    color: #aaa;
}

.wizard .steps .done a {
    background: #eee;
    color: #aaa;
}

.wizard .steps .done a:hover, .wizard .steps .done a:active, .wizard .steps .done a:focus {
    background: #eee;
    color: #aaa;
}

.wizard > .actions a {
    background: #29abe2;
}

.wizard > .actions a:hover, .wizard > .actions a:active {
    background: #1896cc !important; 
}

.wizard > .actions .disabled a:hover, .wizard > .steps .disabled a:focus {
    background: #eee !important;
    color: #aaa !important;
    cursor: default;
}


.form-section-title {
    color: #ffffff;
    margin-bottom: 33px;
    text-align: center;
    padding: 8px;
    background-color: #29abe2 !important;
    font-size: 23px;
}

.id-type-radio label {
    margin-right: 10px; 
}

.checkbox-label {
    margin-bottom: 9px !important;
}

.hidden-vis {
    visibility: hidden;
}